.background-image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.services-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.btn-white:hover {
    background-color: rgb(225, 225, 225);
}